//-----------
// Variables
//---------

// Color
$color-primary: #901c1c;
$color-secondary: #d3573c;

$color-greyLight: #fafafa;
$color-greyMiddle: #c4c4c4;
$color-greyDark: #525252;
$color-greyPrice: #757575;
$color-orangeSalmon: #db8876;

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@font-face {
  font-family: "DM Sans";
  src: url(/Policy/DMSans-Regular.ttf) format("truetype");
}

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__link {
    display: none;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: dark;
    background-color: rgba(219, 136, 118, 0.7);
    border: 2px solid $color-orangeSalmon;
    border-radius: 0.4rem;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 0.2rem 0.4rem;
    color: $color-greyDark;
  }
  &__image {
    width: 12.5rem;
    height: 3.125rem;
    align-self: center;
    margin: 0.8rem 0 0 1rem;
  }
  &__title {
    color: $color-primary;
    margin: 1.5rem 1rem 0 0;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 45rem;
  padding: 0;
  margin-top: 2rem;
  &__filters {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.1rem 0.3rem;
    padding: 0 0.2rem;
    height: 1.7rem;
    border: 1px solid #c4c4c4;
    border-radius: 2rem;
    color: $color-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #901c1c;
      color: white;
    }
  }
}
.profile {
  text-align: center;
  width: 30%;
}
.link {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  &__image {
    width: 12.5rem;
    height: 12.5rem;
    color: $color-greyMiddle;
    border-radius: 50%/50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    overflow: hidden;
  }
  &__title {
    overflow: hidden;
    color: $color-secondary;
    font-size: 3rem;
    margin-bottom: 0;
  }
}

.photograph {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
}

.describe {
  &__location {
    color: $color-primary;
  }
  &__price {
    color: $color-greyPrice;
  }
}
.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__profile {
    text-align: center;
    margin: 0rem 1rem 0 0;
    padding: 0.2rem 0.3rem;
    border: 1px solid #c4c4c4;
    border-radius: 2rem;
    color: $color-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #901c1c;
      color: white;
    }
  }
}

.presentation {
  display: grid;
  background-color: $color-greyLight;
  min-height: 20rem;
  margin: 1rem 3rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  &__image {
    grid-row: 1/4;
    grid-column: 4/4;
    margin: 3rem 1rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%/50%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    overflow: hidden;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
  &__pro {
    grid-row: 1;
    grid-column: 1/2;
    color: $color-secondary;
    font-size: 3rem;
    margin: 3rem 0 0 3rem;
  }
  &__city {
    grid-row: 2/2;
    grid-column: 1/1;
    margin: 0 0 0 3rem;
    color: $color-primary;
  }
  &__description {
    margin: 2rem 0 0 3rem;
    grid-row: 2/2;
    grid-column: 1/3;
    color: $color-greyDark;
  }
  &__filters {
    display: block;
    margin: 5rem 0 0 2.8rem;
    grid-row: 2/2;
    grid-column: 1/3;
  }
  &__contact {
    grid-row: 1/1;
    grid-column: 2/3;
    margin-top: 3rem;
    width: 8rem;
    height: 4rem;
    background-color: $color-primary;
    border-radius: 10%/20%;
    color: white;
    cursor: pointer;
    outline: none;
    &:hover,
    &:focus {
      background-color: $color-secondary;
      transform: scale(0.98);
    }
  }
}

.filterNav {
  margin: 0 3rem;
}

.label {
  padding-right: 2rem;
}

#methods {
  padding: 0 1rem;
}

#gallery {
  display: grid;
  width: 100%;
  grid-gap: 0.3rem;
  margin: 1rem 0 0.5rem 1.6rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  row-gap: 1.5rem;
}

.photo {
  width: 19rem;
  height: 19rem;
  object-fit: cover;
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 35%;
  }
  &__video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;
  }
}

#pro {
  margin: 1rem 0 0 3rem;
}

.legend {
  position: relative;
  margin-top: 0.2rem;

  &__likes {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
  }
  &__icon {
    position: absolute;
    bottom: 0.15rem;
    right: 0;
  }
}

#filter {
  padding: 0.8rem;
  border-radius: 5px;
  background-color: $color-primary;
  color: white;
}

#boxHeart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 0;
  width: 17rem;
  height: 3rem;
  background-color: rgba(219, 136, 118, 0.9);
  border: 1px solid $color-orangeSalmon;
  border-radius: 0.32rem;
}

.icon {
  margin-left: 1rem;
}

.price {
  margin-right: 1rem;
}

.legend {
  color: $color-primary;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 40%;
  height: 97%;
  margin: 1rem auto;
  background-color: $color-orangeSalmon;
  border-radius: 5px;
  font-size: 1.5rem;

  &__presentation {
    margin: 1rem;
    word-wrap: break-word;
    font-weight: 700;
    font-size: xx-large;
  }
  &__cross {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 1rem;
  }
  &__submit {
    width: 10rem;
    height: 4rem;
    margin: 0 0 1rem 1rem;
    border-radius: 5px;
    background-color: $color-primary;
    color: white;
  }
}

#modalContainer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
}

#textArea {
  height: 7rem;
}

input,
textarea {
  border-radius: 5px;
}

// class error

.error {
  border: 2px solid red;
}

.errorMessage {
  font-size: 0.6rem;
  font-weight: 700;
  color: purple;
  display: none;
}

//Lightbox

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
  overflow: hidden;
}

.lightbox {
  &__container {
    margin: 2rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  &__name {
    position: absolute;
    bottom: 0.5rem;
    left: 15rem;
    color: $color-primary;
    font-weight: bold;
  }
  &__close {
    position: fixed;
    top: 1.8rem;
    right: 12rem;
    z-index: 2001;
    opacity: 0.5;
    font-size: medium;
    color: $color-primary;
    background-color: white;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &__prev {
    position: fixed;
    top: 0.26rem;
    left: 12rem;
    height: 100%;
    z-index: 2000;
    opacity: 0.5;
    color: $color-primary;
    background-color: white;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &__next {
    position: fixed;
    top: 0;
    right: 12rem;
    height: 100%;
    z-index: 2000;
    opacity: 0.5;
    color: $color-primary;
    background-color: white;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1215px) {
  .filters {
    &__profile {
      margin: 0.2rem 1rem 0 0;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .header {
    &__title {
      margin: 1.5rem 0 0 0.9rem;
    }
  }
}

@media only screen and (max-width: 769px) {
  .header {
    &__navigation {
      margin-left: 0.5rem;
    }
    &__title {
      margin-left: 1rem;
    }
  }

  .presentation {
    &__image {
      grid-row: 1/4;
      grid-column: 4/4;
      width: 10rem;
      height: 10rem;
      margin: 9rem 1rem 0 0;
    }
    &__city {
      margin: 0 0 0 3rem;
    }
    &__description {
      margin: 1.5rem 0 0 3rem;
    }
    &__filters {
      margin-bottom: 2rem;
    }
  }

  .modal {
    font-size: 0.9rem;
    &__presentation {
      font-size: 1.5rem;
    }
    &__submit {
      width: 6rem;
      height: 1.6rem;
    }
  }

  #textArea {
    height: 5rem;
  }

  .lightbox {
    &__container {
      margin: 1rem 10rem;
    }
    &__name {
      left: 10rem;
    }
    &__close {
      position: fixed;
      top: 0.8rem;
      right: 7rem;
    }
    &__prev {
      position: fixed;
      top: 0;
      left: 7rem;
    }
    &__next {
      top: 0;
      right: 7rem;
    }
  }
}

@media only screen and (max-width: 426px) {
  .photograph {
    &__profile {
      flex-direction: column;
      width: 100%;
      margin: 0.8rem auto;
    }
  }

  .filterNav {
    display: none;
  }

  .link__title {
    margin: 0.8rem auto;
  }
  .header {
    &__title {
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      font-size: small;
      font-weight: 500;
    }

    &__navigation {
      align-content: center;
    }
  }

  #pro {
    margin: 2rem 0 0 1rem;
  }

  .navigation {
    justify-content: center;
    &__filters {
      margin: 0.2rem;
    }
  }

  .filters__profile {
    text-align: center;
    margin: 0.2rem 0.5rem 0 0;
  }

  .presentation {
    display: inline-block;
    width: auto;
    margin: 1rem 0 0 0.9rem;
    min-height: 8rem;
    background-color: white;
    &__image {
      position: absolute;
      top: 4rem;
      right: 0rem;
      width: 6rem;
      height: 6rem;
      margin: 1rem;
    }
    &__city {
      margin: auto;
    }
    &__description {
      margin: auto;
    }
    &__filters {
      margin: auto;
      margin-top: 1rem;
    }
    &__contact {
      position: fixed;
      width: 12rem;
      height: 2rem;
      z-index: 5;
      border-radius: 5px;
      bottom: 10%;
      left: 50%;
      margin-left: -6rem;
    }
    &__pro {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  #gallery {
    display: block;
    margin: 1rem 0;
    padding: 0;
  }

  #boxHeart {
    display: none;
  }

  .photo {
    width: auto;
    height: auto;
    margin: 0.8rem;
    &__video {
      height: 15rem;
    }
    &__image {
      margin: 0.1rem 0;
      height: 15rem;
      object-fit: cover;
      object-position: 50% 20%;
      overflow: hidden;
    }
  }

  .legend {
    width: 100%;
  }

  .modal {
    width: 80vw;
    font-size: 1.2rem;
    &__presentation {
      font-size: 2rem;
    }
    &__submit {
      width: 6rem;
      height: 1.6rem;
    }
  }

  #textArea {
    height: 10rem;
  }

  .lightbox {
    &__container {
      margin: 1rem 8rem;
    }
    &__name {
      bottom: 8rem;
      left: 3.7rem;
    }
    &__close {
      position: fixed;
      top: 8rem;
      right: 1rem;
    }
    &__prev {
      position: fixed;
      top: 0;
      left: 1.5rem;
    }
    &__next {
      top: 0;
      right: 1.5rem;
    }
  }
}
@media only screen and (max-width: 376px) {
  .presentation__image {
    top: 4rem;
  }
  .lightbox {
    &__name {
      bottom: 8rem;
      left: 2.1rem;
    }
    &__close {
      right: 0rem;
      top: 6rem;
    }
    &__prev {
      left: 0rem;
    }
    &__next {
      right: 0rem;
    }
  }
}

@media only screen and (max-width: 321px) {
  .header__title {
    top: 2.5rem;
    left: 0rem;
  }

  #gallery {
    margin: auto;
    padding: auto;
  }

  .photo {
    width: 100%;
    margin: 0;
    &__video {
      margin: 0.1rem 1rem;
    }
    &__image {
      margin: 0.1rem 1rem;
    }
  }

  .legend {
    margin: 0.2rem 0 0.2rem 1rem;
  }

  .filters {
    &__profile {
      margin: 0.2rem 0.5rem 0 0;
      padding: 0.1rem;
    }
  }

  .presentation {
    min-height: auto;
    &__image {
      width: 4rem;
      height: 4rem;
      top: 4.8rem;
      right: -2rem;
    }
    &__filters {
      display: flex;
      justify-content: flex-start;
      align-content: space-around;
      margin: 1rem auto;
      min-height: 4rem;
    }
  }

  .lightbox {
    &__container {
      margin: 2rem;
    }
    &__name {
      left: 1rem;
    }
    &__close {
      top: 2rem;
      right: 1rem;
    }
    &__prev {
      left: 0.6rem;
      background-color: rgba(0, 0, 0, 0);
    }
    &__next {
      background-color: rgba(0, 0, 0, 0);
      right: 0.6rem;
    }
  }
}
