//-----------
// Variables
//---------

// Color
$color-primary: #901c1c;
$color-secondary: #d3573c;

$color-greyLight: #fafafa;
$color-greyMiddle: #c4c4c4;
$color-greyDark: #525252;
$color-greyPrice: #757575;
$color-orangeSalmon: #db8876;
